h1.brand-logo {
    text-align: center;
}
li {
    list-style: none;
}
a {
    color: #f5f5f5;
}
div.enter {
    padding-top: 50px;
}
div#result {
    padding-top: 15px;
    background-color: #eee;
    margin: 20px;
}