{% extends "base.html" %}

{% block title %}
    Topics for meeting
{% endblock %}

{% block content %}
    <section>



        <div class="container">
            <div class="row">
                <div class="col-md-8 enter">
                    <div class="user-entry">
                    </div>
                    <form class="contact-form" id="contact-form" action="" onsubmit="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col-md-8 col-md-offset-4">
                                {{ form.message(placeholder='Enter what you would like to talk about here', class='form-control', rows=10) }}
                                <button type="submit" class="btn btn-primary submit-btn form_submit">SEND MESSAGE</button>
                            </div>
                        </div>
                        <div class="row col-md-12" id="form-error"></div>
                    </form>
                </div>
            </div>
        </div>


    </section>
    <section>
    <!--Place results box list here-->
        <div class="container">
            <div class="row">
                <div class="col-md-12 results" id="result">
                    <!--Possible class inside here-->
                    <h3>Results</h3>
                    {% for c in col %}
                        <ul>
                            <li>{{ c.text }}</li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}